.main-title {
  text-align: center;
  font-size: 28px;
  color: #d32f2f;
  margin-bottom: 20px;
}

.responsive-svg-container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  pointer-events: none;
}

.large-label {
  font-size: 18px;
  margin-right: 10px;
}

.search-button {
  font-size: 18px;
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pie-chart-title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#regionSearch {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#searchButton {
  height: 40px;
  margin-left: 10px;
  padding: 0 15px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056b3;
}

#chartContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#pie {
  flex: 2;
  margin-left: 20px;
}

#legend {
  flex: 1;
  max-width: 300px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#legend div div {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.current-region {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  font-weight: bold;
}
